.employee-wrap{
    padding: 20px;
    width: 95%;
    max-width: 1050px;
}
.add-btn-wrap{
    padding: 20px 0px;
    display: flex;
    justify-content: space-between;
    h2{
        font-size: 24px;
        font-weight: 600;
        align-self: center;
    }
        button{
            background: #1F3F49;
            padding: 10px;
            font-size: 16px;
            border: 1px solid #000;
            transition: 0.3s ease-in-out;
            border-radius: 10px;
            color: #fff;
                &:hover{
                    background-color: #fff;
                    color: #000;
                }
        }
}
.swal2-container{
    z-index: 2222;
}
.tabs-cus-wrap{
    display: flex;
    padding:0px 0px 20px 0px;
    .simpleTab{
        &:hover{
            cursor: pointer;
        }
        &:last-child{
            padding-left: 10px;
            padding-bottom: 10px;
        }
    }
    .activeTab{
        border-bottom: 2px solid #1F3F49;
        font-weight: bold;
        transition: 0.3s ease-in-out;
    }
}
.taskOpt-cus{
    z-index: 1111;
}
.filters-wrap{
    margin-bottom: 15px;
    box-shadow: 0px 10px 10px #a2a2a2;
    padding: 20px 20px;
    border-radius: 10px;
    form{
        display: flex;
        .taskOpt-cus{
            width:33%;
            margin-right: 10px;
        }
        #datePicker-1{
            width:33%;
            margin-right: 10px;
        }
        textarea{
            width:33%;
            margin-right: 10px;
        }
        .search-btn{
            background-color: #1F3F49;
            color: #fff;
            align-self: flex-start;
        }
    }
}
.filter-btn{
    font-weight: 600;
            padding: 10px;
            margin-bottom: 10px;
            border-radius: 5px;
            display:inline-block;
            background-color: #1F3F49;
            color: #fff;
            &:hover{
                cursor: pointer;
            }
}
.close-icon{
    &:hover{
        cursor: pointer;
    }
}