.links-wrap{
    ul{
        list-style: none;
        padding: 20px;
        .simpleLink{
            font-weight: 400;
            font-size: 16px;
            padding:10px 0px;
            border-bottom: 1px solid #000;
            &:hover{
                cursor: pointer;
            }
        }
        .activeLink{
            font-weight: bold;
            &:hover{
                cursor: pointer;
            }
        }
    }
}
.inner-links-wrap{
    padding: 10px 20px 0px 20px;
    p{
        padding-bottom: 5px;
        margin-bottom: 5px;
    }
    .activeP{
        border-bottom: 1px solid #000;
    }
}
.plus-minus{
    display: inline-block;
    padding-left: 5px;
}