.employee-wrap{
    padding: 20px;
    width: 80%;

}
.add-btn-wrap{
    padding: 20px 0px;
    display: flex;
    justify-content: space-between;
    h2{
        font-size: 24px;
        font-weight: 600;
        align-self: center;
    }
        button{
            background: #1F3F49;
            padding: 10px;
            font-size: 16px;
            border: 1px solid #000;
            transition: 0.3s ease-in-out;
            border-radius: 10px;
            color: #fff;
                &:hover{
                    background-color: #fff;
                    color: #000;
                }
        }
}
.swal2-container{
    z-index: 2222;
}